.menu__link {
    outline: none;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-decoration: none;
    color: #808080;
}
.menu__link.ativo {
    color: #333333;
    font-weight: bold;
}
.menu__link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .menu__link {
        font-size: 1rem;
        line-height: 1.6rem;
    }
}