.receitas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 60px;
    justify-items: center;
    
    
    background-color: #e5e5e5;
    width: 100%;
    padding: 100px 120px;
    box-sizing: border-box;
}

@media screen and (max-width: 1100px) {
    .receitas {
        padding: 60px 30px;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
}

@media screen and (max-width: 728px) {
    .receitas {
        padding: 60px 30px;
        grid-template-columns: 1fr;
        column-gap: 20px;
    }
}