.sobre__descricao {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-family: Roboto, cursive;
    color: #8C8888;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    .sobre__descricao {
        text-align: center;
        font-size: 1.4rem;
        line-height: 2rem;
    }
}