.sobre__titulo {
    font-size: 3.1rem;
    line-height: 3.7rem;
    font-family: Pacifico, cursive;
    color: #8D0606;
}

@media screen and (max-width: 768px) {
    .sobre__titulo {
        text-align: center;
        font-size: 2rem;
        line-height: 2.8rem;
    }
}